<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div id="wrap">
    <div id="header">{% block header %}{% endblock %} <a href="{{ url_for('home') }}" >FIRL</a> </div>
    <div id="sidebar">
      {% block sidebar %}
      * test <br />
      * test <br />
      * test <br />
      * test <br />
      <div class="connexion">
	{% if session['username'] %}
	<p>Salut {{ session['username'] }}
	<input type="button" onclick="location.href='{{ url_for('logout') }}'" value="deconnexion" /></p>
	{% else %}
	<h1> Connexion </h1>
	<form action="{{ url_for('login') }}" method="POST">
	  <label for="copseudo">Pseudo :</label><input type="text" name="copseudo" id="copseudo" /><br />
	  <label for="copass">Password :</label><input type="password" name="copass" id="copass" />
	  <input class="submit" type="submit" name="cosub" id="cosub" />
	</form>
	{% endif %}
      </div>
      {% endblock %}
    </div> 
    <div id="content">{% block content %}{% endblock %}</div>    
    <div id="footer">
      {% block footer %}
      &copy; Copyright vayan 1991 - 2011.
      {% endblock %}
    </div>
  </div>
</body>
