{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<h1>Inscription</h1>
<div class="adduser">
  <form action="{{ url_for('add_user') }}" method="POST">
    <label for="usrname">Pseudo :</label><input type="text" name="usrname" id="usrname" /><br />
    <label for="usrpass">Mot de passe :</label><input type="password" name="usrpass" id="usrpass" /><br />
    <label for="usrmail">Mail :</label><input type="text" name="usrmail" id="usrmail" /><br />
    <label for="usrsend"></label><input type="submit" id="usrsend" /><br />
</div>
</form>
{% endblock %}
