{% extends "base.html" %}

{% block content %}
<h2>List of all the donethat users</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>Date Signup</th>
      <th>Last Connection</th>
      </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td><a href="{{url_for('user', username=user.username)}}">{{user.username}}</a></td>
      <td>{{user.email}}</td>
      <td>{{user.date_signup}}</td>
      <td>{{user.date_online}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
